#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-wrapper {
	height: 100%;
	display: grid;
	grid-template-areas:
		"title menu"
		"main main"
		"footer footer";
	grid-template-rows: auto 1fr auto;
}

.page-title {
	padding: 0.5rem 1rem;
	border: none;

	grid-area: title;

	font-family: var(--font-strong);
	background-color: var(--secondary);
	color: var(--text);

	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-behavior: ease-in-out;
}

.menu-items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	border: none;

	grid-area: menu;
	background-color: var(--secondary);

	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-behavior: ease-in-out;
}

.menu-list {
	display: flex;
	gap: 2rem;
	list-style: none;
}

.menu-item,
.menu-button {
	cursor: pointer;

	display: flex;
	align-items: center;

	transition: transform 0.1s ease-in-out;
}

.menu-item:hover {
	transform: scale(1.1);
}

.menu-button {
	display: none;
	pointer-events: none;
}

.menu-button > svg {
	stroke: var(--text);
}

.menu-item > a {
	text-decoration: none;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	color: var(--text);
}

.menu-item > a > svg {
	display: none;
}

.theme-toggle {
	display: flex;
	align-items: center;
}

.theme-toggle > svg {
	stroke: var(--text);
}

/* main content */
.content-wrapper {
	grid-area: main;

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--background);
	color: var(--text);

	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-behavior: ease-in-out;
}

/* footer */
.footer-wrapper {
	grid-area: footer;

	background-color: var(--secondary);
	color: var(--text);

	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-behavior: ease-in-out;
}

@media screen and (max-width: 425px) {
	.app-wrapper {
		grid-template-areas:
			"title title"
			"menu main"
			"footer footer";
		grid-template-rows: auto 1fr auto;
		grid-template-columns: auto 1fr;
	}

	.page-title {
		padding: 0.5rem 1rem;
	}

	.menu-items {
		align-items: flex-start;
		justify-content: flex-start;
		padding: 1rem 0.5rem;

		overflow: hidden;
		width: 2.5rem;

		background-color: var(--secondary);
		/* background-color: color-mix(in srgb, var(--secondary) 90%, transparent); */

		transition: width 0.3s ease-in-out;
	}

	.menu-items.expanded {
		width: 6rem;
	}

	.menu-list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.menu-item:hover {
		transform: none;
	}

	.menu-item > a > svg {
		display: block;
	}

	.menu-button {
		display: flex;
		align-content: center;
		pointer-events: all;
		width: 100%;
	}

	.menu-button > svg {
		margin-left: 0;
		transition: transform 0.3s ease-in-out;
	}

	.menu-items.expanded .menu-button > svg {
		transform: rotateY(180deg) translateX(-250%);
	}
}
