:root {
	--font-regular: "Poppins";
	--font-strong: "Julius Sans One";
}

:root[data-theme="light"] {
	--text: rgb(11, 21, 9);
	--background: rgb(245, 251, 244);
	--primary: rgb(112, 184, 86);
	--secondary: rgb(162, 216, 200);
	--accent: rgb(111, 195, 192);
}
:root[data-theme="dark"] {
	--text: rgb(236, 246, 234);
	--background: rgb(5, 11, 4);
	--primary: rgb(97, 169, 71);
	--secondary: rgb(39, 93, 77);
	--accent: rgb(60, 144, 141);
}

html,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: var(--font-regular);
}
